.header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header__text{
    margin-right: 10rem;
}

.header__text h1{
    margin-bottom: 2rem;
    font-size: 40px;
}

.header__text p{
    font-size: 18px;
    color: rgb(202, 255, 237);
    letter-spacing: 1.1px;
    line-height: 25px;
}

.header img{
    height: 80vh;
    object-fit: contain;
}

@media screen and (max-width: 1092px) {
    .header__text{
        margin-right: 0px;
    }
    .header__text h1{
        font-size: 20px;
    }
    .header__text p{
        font-size: 15px;
    }
    .header img{
        width: 400px;
    }
}

@media screen and (max-width: 672px) {
    .header{
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
    }

    .header__text{
        text-align: center;
        margin-bottom: 20px;
        flex: 1;
    }

    .header__text h1{
        font-size: 28px;
    }
    .header__text p{
        font-size: 20px;
    }
    .header img{
        width: 90vw;
        height: fit-content;
    }
}
